.flex-keyboard {
  grid-area: keyboard;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid gray;
}

.key {
  display: flex;
  min-width: 3rem;
  min-height: 2rem;
  font-size: 1.5rem;
  padding: 0.4rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #c8dd5d;
  color: #252525;
  margin: 0.25rem;
  box-sizing: border-box;
}

.key:hover,
.key:active,
.key:focus {
  background-color: #12b0c9;
  color: #f5f5f5;
}
